/* ================== GLOBAL STYLES ================== */
body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
    background-image: var(--bg-gradient);
    background-attachment: fixed;
    color: var(--text-main);
    overflow: hidden;
    height: 100vh;
    user-select: none;
}

#root {
    width: 100%;
    height: 100%;
}

/* ================== CUSTOM SCROLLBAR ================== */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--glass-border);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-muted);
}

/* Hide scrollbar utility */
.custom-scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.custom-scrollbar-none::-webkit-scrollbar {
    display: none;
}

/* Friendly Mini Scrollbar */
.mini-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.mini-scrollbar::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.mini-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.mini-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.2);
    border-radius: 10px;
    transition: background 0.2s;
}

.mini-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.5);
}

/* Scrollbar tailored for MainView that starts BELOW the Absolute 32px TitleBar */
.main-scroller::-webkit-scrollbar {
    width: 14px;
    /* Slightly wider to accommodate custom padding borders */
}

.main-scroller::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 32px;
    /* Skips the top 32px TitleBar completely */
    margin-bottom: 24px;
}

.main-scroller::-webkit-scrollbar-thumb {
    background-color: var(--glass-border);
    border-radius: 9999px;
    border: 4px solid transparent;
    /* Acts as margin from the right edge */
    background-clip: padding-box;
}

.main-scroller::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-muted);
    border: 4px solid transparent;
    background-clip: padding-box;
}